---
import Experience from "@/components/Experience.astro";
import content from "@/data/en.json";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section>
    <h2 class="text-5xl mb-4 font-medium text-amber-100">Profile</h2>
    <div class="flex flex-col gap-4">
      {content.profile.map((p) => <p set:html={p} />)}
    </div>
  </section>

  <section>
    <h2 class="text-5xl mb-4 font-medium text-amber-100">Experience</h2>
    <div class="flex flex-col gap-8">
      {content.experience.map((exp) => <Experience experience={exp} />)}
    </div>
  </section>
</Layout>
