---
import PrintExperience from "@/components/PrintExperience.astro";
import content from "@/data/en.json";
import PrintLayout from "@/layouts/PrintLayout.astro";
---

<PrintLayout>
  <section>
    <h2 class="text-4xl mb-4 font-medium">Profile</h2>
    <div class="flex flex-col gap-4">
      {content.profile.map((p) => <p set:html={p} />)}
    </div>
  </section>

  <section>
    <h2 class="text-4xl mb-4 font-medium">Experience</h2>
    <div class="flex flex-col gap-24">
      {
        content.experience.map((exp, i) => (
          <>
            <PrintExperience experience={exp} />
            {(i === 1 || i === 4 || i === 7) && (
              <div class="break-before-page my-12" />
            )}
          </>
        ))
      }
    </div>
  </section>

  <section>
    <h2 class="text-4xl mb-4 font-medium">Education</h2>

    <p class="font-bold text-xl">Arquitectura Técnica</p>

    <div class="font-bold">
      <a
        href="https://www.unex.es/?set_language=en&cl=en"
        target="_blank"
        class="link"
      >
        Universidad de Extremadura
      </a>
    </div>

    <time>1998-2002</time>

    <div class="">Cáceres, Extremadura, Spain</div>
  </section>
</PrintLayout>
