---
import CodepenIcon from "./icons/Codepen.astro";
import GithubIcon from "./icons/Github.astro";
import LinkedinIcon from "./icons/Linkedin.astro";
import PdfIcon from "./icons/Pdf.astro";

const networks = [
  {
    name: "github",
    url: "https://github.com/DuffmanCC",
    Icon: GithubIcon,
  },
  {
    name: "linkedin",
    url: "https://www.linkedin.com/in/carlosortiz79/",
    Icon: LinkedinIcon,
  },
  {
    name: "codepen",
    url: "https://codepen.io/DuffmanCC/",
    Icon: CodepenIcon,
  },
  {
    name: "cv",
    url: "/carlos-ortiz-resume.pdf",
    Icon: PdfIcon,
    download: "carlos-ortiz-resume.pdf",
  },
];
---

<div class="my-3 flex gap-2">
  {
    networks.map(({ url, name, Icon, download }) => (
      <a
        href={url}
        aria-label={name}
        target={download ? undefined : "_blank"}
        download={download}
        class="hover:scale-105 transition-transform duration-200 text-amber-300 blue"
      >
        <Icon class="size-10" />
      </a>
    ))
  }
</div>
