---
import Networks from "./Networks.astro";
---

<aside class="p-4 rounded-3xl col-span-4 lg:col-span-3">
  <div class="px-2 mb-6">
    <h1 class="text-4xl font-bold mb-4">Carlos Ortiz</h1>

    <p class="text-3xl xl:text-xl">Full Stack Developer</p>
  </div>

  <div class="font-light text-lg px-2 xl:mb-6 mr-4">
    <p class="text-xl font-bold mb-1">Contact</p>

    <a href="mailto:carlosor@gmail.com">carlosor@gmail.com</a>

    <Networks />
  </div>
</aside>
