@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Montserrat", "sans-serif";
}

.link {
  @apply text-amber-200 hover:text-amber-300 print:text-gray-800 transition-colors underline pr-4 relative;
}

.link::after {
  content: url("./assets/external-link.svg");
  position: absolute;
  top: -0.2rem;
}

@media print {
  .link::after {
    content: url("./assets/print-external-link.svg");
  }
}
