@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Montserrat", "sans-serif";
}

.link {
  @apply text-amber-200 hover:text-amber-300 transition-colors underline pr-4 relative inline-block;
}

.link::after {
  content: url("./assets/external-link.svg");
  position: absolute;
  top: -0.2rem;
}

.print {
  .link {
    @apply text-blue-500 pr-0;
  }
  .blue {
    @apply text-blue-500;
  }
  .link::after {
    content: none;
  }
}

@media print {
  html {
    font-size: 8px;
  }

  body {
    margin: 1cm 3cm 1cm 4cm;
  }

  .container {
    width: 100%;
    max-width: 800px;
  }
}

.break-before-page {
  page-break-before: always;
  break-before: page;
}
